html,
body {
    width: auto;
    height: auto
}

.page {
    width: auto;
    height: auto;
    min-width: 0;
    min-height: 0
}

.half-background {
    display: block;
    background: #7e9fbf;
    height: 150px;
    margin: 0;
    padding: 0
}

.avatar {
    display: block;
    float: none;
    margin: 0 auto
}

.description-container {
    margin: 0
}

.content-container {
    margin: 0 0 40px
}

#description {
    display: block;
    width: auto;
    height: auto
}

.half-background:after {
    display: none
}